* {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body_Answer_VF {
    height: 98vh;
    max-height: 98vh;
    min-height: 98vh;  
    display: flex;
    background-image: url("img/fondo_pantalla.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.mainContainer_Answer_VF {/* Contenedor padre */
    /*background-color: rgba(0, 0, 0, 0.361);*/
    height: 100%;
}

.container_1_VF {/* Contenedores hijos del principal */
    border: 0px black solid;
    height: 140px;
    height: 15.625%;
    /*background-color: rgba(135, 222, 142, 0.369);*/
    display: flex;
    justify-content: center;
    align-items: start;
}
.container_1__sub_VF{/* contenedor hijo de  container_1 AQUÍ VA LA PREGUNTA*/
    width: 50vw;
    height: 70%;
    border: 0px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(255, 254, 252);
    font-weight: 600;

}

.container_2_VF {/* Contenedores hijos del principal TEMPORIZADOR Y RESPUESTA*/
    border: 0px black solid;
    height: 516px;
    height: 57.58928571%;
    background-color: rgba(222, 184, 135, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container_3_VF {/* Contenedores hijos del principal */
    display: flex;
    justify-content: center;
    border: 0px black solid;
    height: 240px;
    height: 26.78571429%;
    /*background-color: rgb(141, 135, 222);*/
}

.container_3__sub_VF {/* contenedor hijo de container_3 */

    border: 0px solid rgb(119, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
/*     gap: 1px; */
    width: 100%;
    width: 100vw;

}

.btn_Answer_VF {/* botones de Respuestas*/
    width: 100%;
    height: 100%;
    border: 0px;

    border-radius: 5px;
    font-size: 30px;
}

.btn_div_VF {
    padding: 5px;


    border: solid rgb(247, 0, 255) 0px;


}

.btn_div_VF:hover {

/*     background-color: rgba(0, 0, 0, 0.125); */
    opacity: 90%;

}

/*.container_2_VF {/* Contenedores hijos del principal LOS ELEMENTOS LOS PASE AL MISMO CONTENEDOR UBICADO EN LA PARTE SUPERIOR
    
}*/

.container_2__sub_1_VF {
    border: 0px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_2__sub_2_VF {
    border: 0px solid rgb(83, 5, 5);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;

}

.container_2__sub_1__1_VF {/* contenedor de h1 */
    display: block;
    background-color: aqua.0;
    height: auto;
}

.container_2__sub_1__2_VF{/* contenedor de h1 */
    background-color: (darkorange).0;
}

.timer {/* Temporizador */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0px solid blue;
    background-color: rgb(132, 0, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: aliceblue;
}

.Answer_VF{/* Contador de Respuestas */  
    
    text-align: left;
    align-items: center;
    width:250px;
    height: 100%;   
    
}

.container_3_VF{
    display: flex;
    margin:1036 201.74;
    padding: 16px;
}

.div_Answer_1_V{/* boton Respuesta 1 */
    display: flex;
    font-weight:500;
    background: #1368CE;
    margin-right: 4px;
    border-radius: 3.5px;

}
.div_Answer_2_F{/* boton Respuesta 2 */
    display: flex;
    font-weight:500;
    background: #E21B3C;
    margin-left: 4px;
    margin-right: 40px;
    border-radius: 3.5px;
}
.icon1_V{
    align-items: center;
    width: 50px;
    height: 100%;

}

.icon2_V{
    align-items: center;
    width: 40px;
    height: 100%;
}
.icon1_F{
    align-items: center;
    width: 50px;
    height: 100%;
}

.icon2_F{
    align-items: center;
    width: 40px;
    height: 100%;
}
.btn_Answer_VF{
    align-items:initial;
    background-color:#1367ce00;
}
.imgicon{
    height: 30px;
    width: 30px;
    margin-top: 65px;
}
.texto_VF{
    color:#FFFFFF;
    margin-right: 550px;
    
}
